*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* ----------------------------------------------NAVBAR--------------------------------------------------- */

.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
}


.langue ul{ 
    background-color:rgb(167, 167, 167);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    list-style: none;
    gap: 10px;
    margin: 10px;
}

.langue ul li a{
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.langue ul li a.active {
    background-color:#18599C;
    border-radius: 5px;
    color: white;
    padding:1px;
}

/* --------------------------------------HOME----------------------------------------------- */

.main > img{
    width: 100%;
    height:auto;
    margin-bottom: 20px;
}

h1{
    font-size: 36px;
    color:#18599C;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.main p{
    font-size: 13px;
    margin:10px;
    text-align: center;
}
.container {
    position:relative;
    display: grid;          
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    padding:10px;
    box-shadow: 0   5px 10px 0 rgb(0, 0, 0);
    border-radius: 30px;
    margin: 10px;
}

.container div{               
    display: flex;             
    align-items: center;        
    border-radius: 30px;  
    padding: 10px;
    margin: 0 auto;  
}

.container div img{
    width:  40px;
    height: auto;
    padding:5px;
}

.container div:nth-of-type(5){
    grid-column: span 2 ;
}

.container button{
    background-color: #D14A37;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-size: large;
    border:none;
}

.container p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.image-container {
    padding:20px  0;
    position: relative;         
    width: 100%;                
    height: auto;              
    display: flex;             
    justify-content: center;    
    align-items: center;     
}


.image-container img {
    position: absolute;         
    width: 100%;               
    height: auto;              
    z-index: 1;                
}

.craft {
    width: 60%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    border-radius: 90px;
    display: flex;
    justify-content: center;
    z-index: 2; 
}

.craft img {
    position: absolute;         
    width: 60%;                
    top: 10%;                   
    left: 20%;                 
    z-index: 3;                 
}



.craft p{
    position: absolute;
    top:45vh;
    z-index: 2;
}

.craft span{
    position: absolute;
    top: 50vh;
}

.text {
    position: relative;
    padding:20px;
    margin-top: 10px;
    color:#626262;
    text-align: center;
    font-weight: bold;
}

.text::before, 
.text::after {
    content: '';
    position: absolute;
    border: 2px solid #18599C;
    width: 30px;
    height: 30px;
}
  
.text::before {
    top: 0;
    right: 5px;
    border-left: none;
    border-bottom: none;
}
  
.text::after {
    bottom: 5px;
    left: 5px;
    border-top: none;
    border-right: none;
}

.images-slider {
    display: flex;               
    overflow-x: auto;            
    gap: 20px;                   
    padding: 10px;
}

.card {
    flex-shrink: 0;            
    width: 70%;    
    background-color: #f9f9f9;
    box-shadow: 0 0 5px 1px rgb(0.3, 0.3, 0.5,12%);
    border-radius: 20px;
    padding: 15px;   
    display: flex;              
    flex-direction: column;      
    align-items: center;         
    text-align: center;       
}

.card img {
    width: 100%;                 
    height: auto;                
    object-fit: cover;           
    border-radius: 5px;         
}

.card h2 {
    margin: 15px;    
    color: #18599C;          
}

.card p {
    font-size: 14px;
    color: #6A6A6A;                
    margin-bottom: 10px;
    width: 100%;                
}


@media only screen and (min-width: 425px) and (max-width: 768px){
    .langue ul{ 
        border-radius: 15px;
        padding: 5px 10px;
        gap: 15px;
        margin: 20px;
    }

    h1{
        font-size: 50px;
    }

    .main p{
        font-size: 20px;
        margin:20px;
    }

    .container {      
        grid-template-columns: repeat(4,1fr);
        gap:15px;
    }

    .container div:nth-of-type(5){
        grid-column: span 4 ;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin:30px 0;
    }

    .images-slider {           
        gap: 10px;
    }
    
    .card {           
        width: 32%;
        padding: 10px;   
   
    }
    
}


@media only screen and (min-width: 768px){
    .langue ul{ 
        border-radius: 15px;
        padding: 5px 10px;
        gap: 15px;
        margin: 20px;
    }

    h1{
        font-size: 50px;
    }

    .main p{
        font-size: 20px;
        margin:20px;
    }

    .container {      
        grid-template-columns: repeat(4,1fr);
        gap:15px;
    }

    .container div:nth-of-type(5){
        grid-column: span 4 ;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin:40px 0;
    }

    .text {
        padding-top: 20px;
        font-size: 23px;
    }

    .images-slider {           
        gap: 10px;
    }
    
    .card {           
        width: 32%;
        padding: 10px;   
   
    }
    
}